<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-6 form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control input-md" %>
  </div>
   <div class="field col-md-4 form-group">
    <%= f.label :role_id, "Rola" %><br>
    <%= collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true}, class: "form-control input-md") %>
  </div>
  <div class="field col-md-6 form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control input-md" %>
  </div>
  <div class="field col-md-6 form-group">
    <%= f.label :password, "Hasło" %><br>
    <%= f.text_field :password, placeholder: "zostaw puste, jeśli nie zmieniasz hasła", class: "form-control input-md" %>
  </div>


  <div class="sm-offset-0 col-sm-10">
    <%= f.submit "Potwierdź", class: "btn btn-info" %>
  </div>
<% end %>
