<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="col-md-offset-5">
     <h3><%= @user.email %></h3>
    <div>
      <p>
        <strong>Rola:</strong>
        <%= @user.role.name %>
      </p>
      <p>
        <strong>Nazwa:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Dołączył:</strong>
        <%= @joined_on %>
      </p>
      <p>
        <strong>Ostatnie logowanie:</strong>
        <%= @last_login %>
      </p>
      <p>
        <strong>Liczba logowań:</strong>
        <%= @user.sign_in_count %>
      </p>
    </div>
    <div>
</div>
      <p class="intro-text text-center">
        <%= link_to 'Edytuj', edit_user_path(@user), class: "btn btn-primary" %>
      </p>
    </div>
    <div>
      <ul class="pager">
        <li><%= link_to 'Powrót', users_path %></li>
      </ul>
   </div>
</div>



