<%= form_for(@constituency) do |f| %>
  <% if @constituency.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2>Wystąpiły Błędy:</h2>

      <ul>
      <% @constituency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field col-md-3 form-group">
    <label>Numer:</label>
    <%= f.number_field :number, class: "form-control input-md" %>
  </div>
  <div class="field col-md-10 form-group">
    <label>Nazwa:</label>
    <%= f.text_field :name, class: "form-control input-md" %>
  </div>
  <div class="field col-md-12 form-group">
    <label>Miejscowość:</label>
    <%= f.text_field :town, class: "form-control input-md" %>
  </div>
  <div class="field col-md-3 form-group">
    <label>Liczba mandatów:</label>
    <%= f.number_field :seats, class: "form-control input-md" %>
  </div>
  <div class="field col-md-3 form-group">
    <label>Liczba wyborców:</label>
      <%= f.number_field :electors, class: "form-control input-md" %>
    </div>
  <div class="sm-offset-0 col-sm-10">
    <%= f.submit "Potwierdź", class: "btn btn-info" %><br>
  </div>
<% end %>

