<p id="notice"><%= notice %></p>

<p>
  <strong>Numer:</strong>
  <%= @constituency.number %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @constituency.name %>
</p>

<p>
  <strong>Miejscowość:</strong>
  <%= @constituency.town %>
</p>

<p>
  <strong>Ilość mandatów:</strong>
  <%= @constituency.seats %>
</p>

<p>
  <strong>Liczba osób uprawnionych do głosowania:</strong>
  <%= @constituency.electors %>
</p>

<%= link_to 'Edytuj', edit_constituency_path(@constituency) %> |
<%= link_to 'Wróć', constituencies_path %>
