<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>
      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-8 form-group">
    <%= f.label :committee_id, "Komitet" %><br>
    <%= collection_select(:result, :committee_id, Committee.all, :id, :name, {prompt:true}, class: "form-control input-md" ) %>
  </div>
  <div class="field col-md-8 form-group">
    <%= f.label :constituency_id," Okręg" %><br>
    <%= collection_select(:result, :constituency_id, Constituency.all, :id, :name, {prompt:true}, class: "form-control input-md" ) %>
  </div>
  <div class="field col-md-3 form-group">
    <%= f.label :amount, "Głosy" %><br>
    <%= f.number_field :amount, class: "form-control input-md" %>
  </div>
  <div class="sm-offset-0 col-sm-10">
    <%= f.submit "Potwierdź", class: "btn btn-info" %>
  </div>
<% end %>
