<p id="notice"><%= notice %></p>

<h1>Wyniki</h1>

<table>
  <thead>
    <tr>
      <th>Komitet</th>
      <th>Okręg</th>
      <th>Głosy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @results.each do |result| %>
      <tr>
        <td><%= result.committee.name %></td>
        <td><%= result.constituency.name %></td>
        <td><%= result.amount %></td>
        <td><%= link_to 'Wyświetl', result %></td>
        <td><%= link_to 'Edytuj', edit_result_path(result) %></td>
        <td><%= link_to 'Usuń', result, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Dodaj wynik', new_result_path %>

