<div class="container">
  <p id="notice"><%= notice %></p>
    <div class="panel-heading">
      <h3 class="intro-text text-center"><%= @result.committee.name %></h3>
    </div>
    <div class="intro-text text-center">
      <p>
       <h4><strong>Okręg nr</strong>
        <%= @result.constituency.number %></h4>
      </p>
      <p>
      <h4> <strong>Głosy otrzymane w okręgu:</strong>
       <%= @result.amount %></h4>
      </p>
    </div>
    <div>
      <p class="intro-text text-center">
        <%= link_to 'Edytuj', edit_result_path(@result), class: "btn btn-primary" %>
      </p>
    </div>
    <div>
      <ul class="pager">
        <li><%= link_to 'Powrót', results_path %></li>
      </ul>
    </div>
</div>
