<p id="notice"><%= notice %></p>
  
<p>
  <strong>Komitet:</strong>
  <%= @result.committee.name %>
</p>

<p>
  <strong>Okręg:</strong>
  <%= @result.constituency.name %>
</p>

<p>
  <strong>Głosy:</strong>
  <%= @result.amount %>
</p>

<%= link_to 'Edytuj', edit_result_path(@result) %> |
<%= link_to 'Wróć', results_path %>
